/* this makes sure all pages are minimum of the page height. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensure full viewport height */
}

body.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {

    flex-grow: 1; /* fill remaining space pushing footer down */
    flex-shrink: 0;
}